* {
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #ffd66b;
    font-family: 'Permanent Marker', cursive;
    color: #ff4646;
    text-shadow: 2px 2px 2px rgba(60, 60, 60, 1);
}

header {
    height: 10%;
    max-height: 200px;
    text-align: center;
}

header img {
    width: 38%;
    max-width: 200px;
}

.container {
    text-align: center;
    margin-top: 2rem;
}

input {
    font-size: 2.5rem;
    font-family: 'Permanent Marker', cursive;
    width: 50%;
    max-width: 300px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #953e00;
    margin-left: 2.2rem;
    background-color: transparent;
    color: #953e00;
    text-shadow: 2px 2px 2px rgba(60, 60, 60, 1);
    box-shadow: 0px 5px 3px -3px rgba(60, 60, 60, 1);
}

.euro {
    display: inline-block;
    font-size: 3rem;
    width: 2rem;
}

hr {
    margin: 5px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(95, 95, 95, 0.75), rgba(0, 0, 0, 0));
}

.result {
    text-align: center;
    font-size: 3rem;
    transition: all 0.2s;
}

.scale15 {
    transform: scale(1.5);
}

.percent_div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    border: solid 2px #fd8c04;
    margin: auto;
    width: fit-content;
    box-shadow: 1px 2px 3px 0px rgba(60, 60, 60, 1);
}

.plus, .minus {
    width: 4rem;
    font-size: 3rem;
    background-color: #fd8c04;
}

.plus {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.minus {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.percent {
    font-size: 2.5rem;
    overflow: hidden;
    padding-left: 5px;
    transition: all 0.2s;
}

.pourcent_symb {
    font-size: 2.5rem;
    padding-right: 5px;
}

.slideUp {
    transform: translateY(-50%);
    opacity: 0;
}

.slideDown {
    transform: translateY(50%);
    opacity: 0;
}

.installBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    background-color: #fd8c04;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    font-style: italic;
    transform: translateY(100%);
    cursor: pointer;
    color: #953e00;
    font-size: 1.3rem;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 1px 1px 2px rgb(0 0 0);
}

.slide {
    transform: translateY(0%);
}
